configuration{
    modi: "drun,run";
    icon-theme: "Yaru";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{name}";
    combi-hide-mode-prefix: true;
    location: 2;
    display-drun: " ";
    display-run: " ";
    disable-history: true;
    click-to-enter: true;
    hide-scrollbar: false;
    sidebar-mode: true;
}

@theme "apps"
