@import "mocha.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold", monospace;
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background-color: @mantle;
    color: @text;
}

tooltip {
    background-color: rgba(0, 0, 0, 0);
}

tooltip, tooltip label {
    color: @text;
    background-color: @crust;
    padding: 4px;
}

button {
    box-shadow: inset 0 -3px transparent;
}

button:hover {
    background: inherit;
    color: @mauve;
}

#custom-menu {
    padding: 0px;
    padding-left: 19px;
    padding-right: 12px;
    margin: 4px;
    border-radius: 4px;
    background: @subtext1;
    color: @mantle;
}

#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#battery,
#workspaces,

#window,

#bluetooth,
#pulseaudio,
#backlight,
#network,
#clock,

#disk,
#custom-caway,
#backlight,
#wireplumber,
#tray,
#mode,
#scratchpad {
    padding: 8px 20px;
}

#power-profiles-daemon {
    color: @text;
}

#power-profiles-daemon.default,
#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @yellow;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

#cpu {
    color: @peach;
}

#memory {
    color: @mauve;
}

#temperature {
    color: @sapphire;
}

#battery {
    color: @yellow;
}

#workspaces button {
    color: @surface1;
    padding: 0 16px;
}

#workspaces button.focused {
    color: @lavender;
}

#workspaces button.active {
    color: @lavender;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window {
    color: @overlay2;
}

#bluetooth {
    color: @blue;
}

#pulseaudio {
    color: @peach;
}

#backlight {
    color: @teal;
}

#network {
    color: @mauve;
}

#clock {
    color: @green;
}

#custom-caway {
    color: @mantle;
    background: @flamingo;
}

#custom-caway.Playing {
}

#custom-caway.Paused,
#custom-caway.Stopped {
}
