@import "mocha.css";

* {
	background-image: none;
	box-shadow: none;
	font-family: "MesloLGS Nerd Font Mono Bold", monospace;
	font-size: 20px;
	font-weight: bold;
}

window {
	background-color: rgba(30, 30, 46, 0.90);
}

button {
	border-radius: 10;
	border-color: @mauve;
	text-decoration-color: @mauve;
	background-color: @crust;
	color: @text;
	margin: 16px;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: @mantle;
	border-width: 2px;
	background-size: 30%;
	outline-style: none;
}

#lock {
    border-color: @teal;
    text-decoration-color: @teal;
    background-image: url("/home/ixilminiussi/.config/wlogout/icons/mocha/teal/lock.svg");
}

#logout {
    border-color: @mauve;
    text-decoration-color: @mauve;
    background-image: url("/home/ixilminiussi/.config/wlogout/icons/mocha/mauve/logout.svg");
}

#suspend {
    border-color: @yellow;
    text-decoration-color: @yellow;
    background-image: url("/home/ixilminiussi/.config/wlogout/icons/mocha/yellow/suspend.svg");
}

#hibernate {
    border-color: @blue;
    text-decoration-color: @blue;
    background-image: url("/home/ixilminiussi/.config/wlogout/icons/mocha/blue/hibernate.svg");
}

#shutdown {
    border-color: @maroon;
    text-decoration-color: @maroon;
    background-image: url("/home/ixilminiussi/.config/wlogout/icons/mocha/maroon/shutdown.svg");
}

#reboot {
    border-color: @green;
    text-decoration-color: @green;
    background-image: url("/home/ixilminiussi/.config/wlogout/icons/mocha/green/reboot.svg");
}
